node_modules
packages/store/node_modules
packages/store/dist
packages/store/build
packages/store/.cache
packages/sanity/node_modules
packages/sanity/dist
packages/sanity/build
/.cache
/build
/dist
/public/build
/.mf
.env
.vscode
.shopify
